@using Ecommerce.WebApp.Models.ProductList;

@model ProductListViewModel

<h4> Product List</h4>

@{
    int slNo = 0;
}

<a asp-action="Create" class="btn btn-primary">Add New</a>

<div>
    <form method="get">

        @*        <div class="form-group">
        <label asp-for="CustomerSearchCriteria.SearchText">Search Text</label>
        <input type="text" class="form-control" asp-for="CustomerSearchCriteria.SearchText" placeholder="Name">
        </div>*@

        <div class="form-group">
            <label asp-for="ProductSearchCriteria.Name">Name</label>
            <input type="text" class="form-control" asp-for="ProductSearchCriteria.Name" placeholder="Name">
        </div>
        <div class="form-group">
            <label asp-for="ProductSearchCriteria.Description">Description</label>
            <input type="text" class="form-control" asp-for="ProductSearchCriteria.Description" placeholder="Description">
        </div>
        <div class="form-group">
            <label asp-for="ProductSearchCriteria.Price">Price</label>
            <input type="text" class="form-control" asp-for="ProductSearchCriteria.Price" placeholder="Price">
        </div>
        <div class="form-group">
            <label asp-for="ProductSearchCriteria.Category">Category</label>
            <input type="text" class="form-control" asp-for="ProductSearchCriteria.Price" placeholder="Category">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>

    </form>
</div>

<table class="table tabletable-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.ProductList)
        {
            <tr>
                <td>@(++slNo)</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>View | <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> | Remove</td>
            </tr>
        }

    </tbody>
</table>